input[type='number'] {
  height: 40px;
  width: 360px;
  border-radius: 4px;
}

input[type='number']:focus {
  outline-color: #7a97ff;
}

label[id='delay'] {
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 8px;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  transition: background-color 250ms ease-in;
}

button:hover,
button:focus {
  background: #6c8cff;
}

legend {
  text-align: start;
}
fieldset {
  border-radius: 4px;
  text-align: center;
  display: flex;
  gap: 48;
  justify-content: space-around;
  transition: border-color 250ms ease-in;
}

fieldset:hover,
fieldset:focus {
  border-color: black;
}
.form {
  display: flex;
  flex-direction: column;
  width: 360px;
  gap: 10px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: 30px;
  width: 20px;
  padding-right: 30px;
}

.iziToast-body {
  width: 350px;
}
